.frame{
  display:flex;
  justify-content:center;  
}

.frame_2{
  display:flex;
  justify-content:center;  
}

.border{
  width:800px;
  height:500px;
  margin-top:100px;  
  border: 1px solid;
  border-color:#f5f5f5;
  box-shadow: 10px 30px 30px 30px rgba(0, 0, 0, 0.2);
}

.border{
  width:800px;
  height:500px;
  margin-top:100px;  
  border: 1px solid;
  border-color:#f5f5f5;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.border_2{
  width:800px;
  height:300px;
  border: 1px solid;
  border-color:#f5f5f5;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.border-login{
  width:800px;
  height:300px;
  margin-top:100px;  
  border: 1px solid;
  border-color:#f5f5f5;
  box-shadow: 10px 30px 30px 30px rgba(0, 0, 0, 0.2);
}

#welcome{
  width:800px;
  height:100px;
  background-color: black;
  text-align:center;
  font-size:36px;
  color: white;  
  display:flex;
  align-items:center;
  justify-content:center;
}

.navigation{
  width:800px;
  height:100px;
  margin-top:50px;
  text-align:center;  
  font-size:36px;
  font-weight:bold;
}

#errormessage{
  width:800px;
  height:100px;
  margin-top:50px;
  text-align:center;  
  font-size:36px;
  font-weight:bold;
}

#form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#aclb{
  text-align:center;  
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding-right:20px;
}

#int{
  text-align:center;  
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding-right:20px;
}

#pwlb{
  text-align:center;  
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding-right:20px;
}

#button{
  margin-top:20px;  
}