.frame{
  display:flex;
  justify-content:center;
}

.frame_2{
  display:flex;
  justify-content:center;  
}

.border{
  width:800px;
  height:500px;
  margin-top:100px;  
  border: 1px solid;
  border-color:#f5f5f5;
  box-shadow: 10px 30px 30px 30px rgba(0, 0, 0, 0.2);
}

.border{
  width:800px;
  height:500px;
  margin-top:100px;  
  border: 1px solid;
  border-color:#f5f5f5;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.border_2{
  width:800px;
  height:300px;
  border: 1px solid;
  border-color:#f5f5f5;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.border-login{
  width:800px;
  height:auto;
  margin-top:100px;  
  border: 1px solid;
  border-color:#f5f5f5;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#welcome{
  width:800px;
  height:100px;
  background-color: black;
  text-align:center;
  font-size:36px;
  color: white;  
  display:flex;
  align-items:center;
  justify-content:center;
}

.border_comment_input{
  height:250px;
  width:800px;
  background:white;
  text-align:center;
  padding-top:50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size:20px;
  font-weight:bolder;
 
}

.navigation{
  width:800px;
  height:100px;
  margin-top:50px;
  text-align:center;  
  font-size:36px;
  font-weight:bold;
}

#errormessage{
  width:800px;
  height:100px;
  margin-top:50px;
  text-align:center;  
  font-size:36px;
  font-weight:bold;
}

#form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#form2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#acnm{
  text-align:center;  
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding-right:20px;
}

#aclb{
  text-align:center;  
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding-right:20px;
}

#com{
  text-align:center;  
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding-right:20px;  
}

#int{
  text-align:center;  
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding-right:20px;
}

#pwlb{
  text-align:center;  
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding-right:20px;
}


#button{
  margin-top:20px;  
}

#button_login{
  margin-top:20px;  
}

#button_comment{
  margin-top:20px;
}

#comment_area{
  background: white;
  width: 800px;
  height: 500px;
  border: 1px solid lightgrey;
  overflow: auto; 
  text-align:left; 
  font-size:20px;
  font-weight:bolder;
}