<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
  </head>
  <body>
    <div class="frame">
      <div class="border-login">
        <div id="welcome">歡迎光臨，這是會員頁</div>
        <div class="navigation">恭喜 {{ name }}，成功登入系統</div>
        <br><br><div class="navigation"><a href = "/signout">登出系統</a></div>
        <!--<form id="form" action=" {{ url_for('signin') }}" method="post">
          <div>
          <label id="aclb" for="account">帳號</label>
          <input type="text" id="account" name="ac">
          </div>
          <div> 
          <label id="pwlb" for="password">密碼</label>
          <input type="password" id="password" name="pw">            
          </div>
          <input id="button" type="submit" value="登入">
          </form>-->        
      </div>
    </div>
     <div class="frame">
      <div class="border_comment_input">
        <div>快來留言吧</div>     
      <div>
       <form id="form3" action=" {{ url_for('comment') }}" method="post" style="margin-right:50px;margin-top:50px;"> 
          <div> 
          <label id="com" for="comment">內容</label>
          <input type="text" id="comment" name="comment">            
          </div>
          <input id="button_comment" type="submit" value="送出" style="margin-left: 55px;">
          </form>
        </div>
      </div>
  </div>  
  <div class='frame'>
    <div id="comment_area">
        <div>{% for line in all_comment %}
              <p>{{line}}</p>
              {% endfor %}</div>     
    </div>
   </div>
  </body>    
</html>
