@media (min-width: 1200px){
  
}

@media(min-width:600px) and (max-width:1199px){
  .left{
    width:200px;    
  }
  .right{
    width:200px;
  }
  .item{
    margin-right:5px;
  }
  
}

@media(min-width:360px) and (max-width:599px){
  
}


.frame{
  display:flex;
  font-size:20px;
  
}
.left{
  background-color:#FFFFFF;
  flex:auto;
  width:400px
}
.right{
  display:flex;
  justify-content:flex-end;
  background-color:#FFFFFF;
  flex:none;
  width:50%
}
.item{
  background-color:#FFFFFF;
  flex:none;
  width:100px;
  margin-right:10px;
  text-align:center;
}

.welcome{
  display:flex;
  height:300px;
  background-color:#FA4616;
  align-items:center;
  justify-content:center;
}
.text{
  font-size:30px;
  fone-weight:bold;
  text-align:center;
}


