.frame{
  display:flex;
  font-size:20px;
  
}
.left{
  background-color:#FFFFFF;
  flex:auto;
  width:400px
}
.right{
  display:flex;
  justify-content:flex-end;
  background-color:#FFFFFF;
  flex:none;
  width:40%
}
.item{
  background-color:#FFFFFF;
  flex:none;
  width:20%;
  margin-right:10px;
  text-align:center;
}

.welcome{
  display:flex;
  height:300px;
  background-color:#A5AAFF;
  align-items:center;
  justify-content:center;
}
.text{
  font-size:40px;
  fone-weight:bold;
  text-align:center;
}

.gallery {
  display:flex;
  justify-content:center; 
  margin-top:10px;  
}

.gallery-name {
  background-color:#FFFFAA;
  width:1200px;
  display:flex;
  justify-content:center;
     
  

}
.name{
  height:50px;
  width:50%;
  margin-right:10px;
  background-color:#FAAAAA;
  text-align:left;
  display:flex;
  align-items:center;
  
}



@media (min-width: 1200px){
  
}

@media(min-width:600px) and (max-width:1199px){
  
  
}

@media(min-width:360px) and (max-width:599px){
  
}



